
$mq-xsmall: 33.9em; // xxSmall devices (portrait phones)
$mq-small: 47.938em; // small devices (landscape phones)
$mq-medium: 64em; //  medium devices (tablets)
$mq-large: 80em; // large devices (laptops, desktops)
$mq-xlarge: 90em; // xLarge devices (desktops)
