@import 'vendor/normalize';

@import 'partials/variables';
@import 'partials/colors';
@import 'partials/fonts';
@import 'partials/layout';

@import 'modules/dropdown';
@import 'modules/spinner';
@import 'modules/sidebar';
@import 'modules/activitybar';
@import 'modules/topwishes';
@import 'modules/quotes';
@import 'modules/archive';
@import 'modules/wishes';
@import 'modules/modal';
